:root {
	--main: #208CFB;
	--secondary: #001354;
	--error: #f1696a;
	--white: #fff;
	--dark: #343434;
	--grey: #606060;
	--light-grey: #ecedef;
	--border: #ddd;
	--title: #001;
	--radius: 3px;
	--duration: .4s;
	--transition: cubic-bezier(.25,.8,.25,1);
	--font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
	margin: 0;
	padding: 0;
}

.wd-auto {
	width: auto;
}

.mb-1 {
	margin-bottom: .5rem;
}

.flex {
	display: flex;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
}

.flex-col-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.fx-1 {
	flex: 1;
}

.no-result {
	text-align: center;
	color: var(--grey);
}

.link {
	color: var(--main);
	font-weight: bold;
	cursor: pointer;
	transition: opacity var(--duration) var(--transition);

	&:hover {
		opacity: .8;
	}
}